extends layout
block content
  h1= title
  
  form#formAddContact(name="contactlist", method="post", action="/contactlist")

      input#first-name(type="text", placeholder="First Name", name="first")
      br
      input#last-name(type="text", placeholder="Last Name", name="last")
      br
      input#title(type="text", placeholder="Title", name="title")
      br
      input#company(type="text", placeholder="Company", name="company")
      br
      input#email(type="text", placeholder="E-mail", name="email")
      br
      input#where-met(type="text", placeholder="Location", name="location")
      br
      input#date-met(type="text", placeholder="Date", name="date")
      br
      br
      textarea#comments(rows="5", cols="20" name="comments", placeholder="Comments")
      br

      button#btnSubmit(type="submit") submit
      br
      br
   a(href="/contactlist")= "Back to Contact List"